@charset 'UTF-8';

/*
  Base
----------------------------------------------------- */

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: $base-font-size;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font: set-size($base-font-size) / 1.5 $font-set-primary;
  font-feature-settings: 'pkna';
  color: $primary-text-color;
  word-break: break-all;
  background-color: $base-color;
  text-rendering: optimizeLegibility;

  &::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    visibility: hidden;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &.is-active-drower {
    overflow: hidden;
  }

  &.is-active-drower::before {
    visibility: visible;
    opacity: 1;

    @include mq(tab) {
      display: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  display: block;
  width: inherit;
  height: inherit;
  color: inherit;
  text-decoration: none;
}

.content {
  overflow: hidden;
  word-break: break-all;

  h3 {
    margin: 2rem 0 1rem 0;
    font-size: 1.25rem;
    font-weight: bold;
  }

  a {
    color: $main-color;
    text-decoration: underline;
  }

  figure,
  img {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
  }

  p,
  ol,
  ul,
  li,
  figure {
    margin: 1rem 0;
  }

  li {
    margin-left: 1.5rem;
    list-style: disc;
  }

  table {
    width: 100%;
    margin-top: 1.5rem;
  }

  th,
  td {
    line-height: 2.5rem;
    border-bottom: solid 1px #999;
  }

  tr :not(:first-child) {
    padding-left: 1rem;
  }
}
